[user]
	email = chlouzada@gmail.com
	name = chlouzada

[init]
    defaultBranch = main

[push]
    default = simple
    autoSetupRemote = true

[alias]
    undo = "!f() { [[ "$1" == "--hard" ]] && git reset --hard HEAD~${2:-1} || git reset --soft HEAD~${1:-1}; }; f"

[url "git@github.com:"]
    pushInsteadOf = https://github.com
    insteadOf = gh:

[url "https://github.com/"]
    insteadOf = gh/:

[url "git@gitlab.com:"]
    insteadOf = gl:

[url "https://gitlab.com/"]
    insteadOf = gl/:

[url "git@gitlab.eurekka.technology/"]
    insteadOf = eurekka:

[safe]
	directory = ~/eurekka/*
